body {
	background-image: url('../images/bearno7.jpg');
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 12%;
}

label {
	font-family: 微软雅黑;
}

.input {
	margin-left: 45%;
	margin-top: 10%;
	line-height: 35px;
}

.submitbtndiv {
	margin-left: 48%;
	margin-top: 5px
}

.submitbtn {
	width: 70px;
	font-family: 微软雅黑;
	height: 35px;
	font-size: 18px;
	background-image: url('../images/bearno7.jpg');
	color: #CC6600;
}

.errorMessage_show {
	background-color: #CC3300;
	border-radius: 3px;
	box-shadow: 1px 1px 6px black;
	padding: 1px 1px 1px 1px;
	width: 230px;
	margin: auto;
	font-weight: bold;
	text-align: center;
	color: #FFCC00;	
	font-size: 14px;
}

.errorMessage_hide {
	display:none;
}